# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.


# NEXT_PUBLIC_BASE_URL=http://localhost:3000
# here is an example postgres database url "postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE_NAME"
# you can get those from the docker compose file
# DATABASE_URL=

# better-auth environment variables
# BETTER_AUTH_SECRET=
# BETTER_AUTH_URL=http://localhost:3000
# generate a client id and secret from https://github.com/settings/developers
# BETTER_AUTH_GITHUB_CLIENT_ID=
# BETTER_AUTH_GITHUB_CLIENT_SECRET=

# Stripe Payment
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# STRIPE_SECRET_KEY=
# BASIC_PRICE_ID=
# PRO_PRICE_ID=
# ENT_PRICE_ID=

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
